pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}

body {
  background-color: #05386B;
}

#clockDiv {
  height: 75px;
  width: 300px;
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  padding-top: 4px;
  font-family: Nunito, sans-serif;
  text-align: center;
  color: white;
  font-size: 38px;
  display: block;

  border: solid 2px rgb(17, 9, 88);
  background-color: #000000;
  border-radius: 30px;
  float: left;
}

.vis-timeline {
  background-color: white;
  width: 100%;
  position: absolute;
  left: 0%;
  right: 0px;
  top: 17%;
  float: left;
  font-family: Nunito, sans-serif;
}

.vis-item {
  background-color: #252525;
  border-color: gray;
  color: white;
  border-width: 4px;
  font-family: Nunito, sans-serif;
}

.vis-time-axis .vis-text.vis-major {
  font-weight: bold;
}

.vis-timeline .red {
  border-color: rgb(212, 6, 6);
  border-width: 4px;
}

.vis-timeline .blue {
  border-color: rgb(9, 9, 221);
  border-width: 4px;
}

.vis-item.vis-selected {
  background-color: gold;
  color: black;
}

#view > * {

  padding: 15px;
  width: 50%;
  height: 100%;
 
  position: relative;
}

#view {
  background-color: white;
  display: flex;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  float: left !important;
}


#calendar1 {
  float: left;
}

#calendar2 {
  float: right;
  margin-right: 0;
  margin-left: auto;
}

.fc-day-grid-event > .fc-content {
  /*background-color: #000000;
  color: white;
  border-color: black;*/
  white-space: unset !important;
}

#grid {
  background-color: white;
  padding: 15px;
}